.Footer {
    color: whitesmoke;
    position: absolute;
    bottom: 0px;
    font-size: large;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .logo {
    max-height: 100px;
  }